<%= form_for @purchase, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtotal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtotal, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tax, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :company_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                purchases_path, :class => 'btn' %>
  </div>
<% end %>
